body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: rgba(248, 248, 248, 0.9);
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    max-width: 1200px;
    margin: auto;
}

.calculator-container {
    background-color: #fff;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    text-align: center;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 96%;
    padding: 9px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.calculate-button {
    width: 100%;
    padding: 10px;
    background-color: #6a0dad;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.calculate-button:hover {
    background-color: #5b0099;
}

.charts-container {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.charts-container canvas {
    margin-bottom: 20px;
}

.table-container {
    grid-column: span 2;
    background-color: #f4f4f4;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0.2, 0.1);
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    text-align: left;
}

table th, table td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

table th {
    background-color: #f4f4f4;
    font-weight: bold;
}